#game {
    display: block;
    margin: 20px auto;
    width: 80vw;
}

#game .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#game .card {
    width: calc(50vw / 5 - 12px); /* Ajuster en fonction du nombre de cartes par ligne */
    height: calc(50vw / 5 - 12px); /* Ajuster en fonction du nombre de cartes par ligne */
    margin: 6px;
    perspective: 1000px;
    cursor: pointer;
}

.card input[type="checkbox"] {
    display: none;
}